.wrapper {
    margin: auto;
    height: calc(100vh - 3rem);
    padding: 3rem 4rem 0rem 4rem;
    display: flex;
    background-color: #DCCFED;
    font-weight: bolder;
    justify-content: space-between;
    overflow-y: hidden;
}

.contactTitle {
    color: #250E42;
    font-size: 2rem;
    margin-bottom: 3.2rem;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 1rem;
    width: 27rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.textArea {
    padding: 2.5rem;
    border-radius: 0.4rem;
    width: 27rem;
    margin-bottom: 2rem;
}

.submitBtn {
    /* border: 0.1rem solid #2F6A5A; */
    background-color: #331C52;
    width: 27rem;
    border-radius: 0.3rem;
    color: #FFF9FB;
    padding: 0.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.socials {
    width: 28%;
    display: flex;
    margin: auto;
    margin-top: 0.4rem;
    padding-right: 0.4rem;
    justify-content: space-between;
}

.socialLink {
    border-radius: 50%;
    background-color: #DCCFED;
    border: 0.1rem solid black;
    width: 2rem;
    margin-right: 0.2rem;

}

.phone {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    /* padding: 0.2rem; */
}

.mail {
    background-color: rgb(157, 242, 253);
    padding: 0rem 0.4rem 0rem 0.4rem;
    border-radius: 0.4rem;
}

.interestText {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.interestBtns {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 6rem 2rem;
    }
    .smallScreenContactTitle{
        text-align: center;
        font-size: 1.2rem;
    }

    .interestWrapper {
        display: none;
    }

    .interestText,
    .interestBtns {
        opacity: 0;
    }
}