.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3rem);
    background-color: #181818;
    color: #777777;
    padding: 0rem 3rem;
    line-height: 2rem;
    height: 100vh;
}

.about {
    font-size: 1.1rem;
    color: #777777;
    width: 50%;
    text-align: center;
}

.emoji {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 2.3rem;
    color: #4F4E4D;
}

@media (max-width: 600px) {
    .aboutDiv {
        display: block;
        padding-top: 4rem;
        padding-left: 0.8rem;
        padding-right: 0.5rem;
    }

    .emoji {
        font-size: 2.2rem;
        width: 100%;
        color: #4F4E4D;
        margin-top: 0;
        display: block;
        text-align: left;
    }

    .about {
        font-size: 1.4rem;
        margin-top: 4rem;
        width: 100%;
        text-align: left;
        line-height: 2.5rem;
    }
}

/* @media (min-width: 600px) {
    .aboutDiv {
        width: 90%;
        padding-top: 11rem;
        display: block;
    }

    .emoji {
        font-size: 2.3rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .about {
        font-size: 1.2rem;
        margin-top: 1.4rem;
    }
}

@media (min-width: 992px) {
    .aboutDiv {
        width: 90%;
        padding-top: 12rem;
        display: block;
    }

    .emoji {
        font-size: 2.6rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .about {
        font-size: 1.4rem;
        margin-top: 1.2rem;
        line-height: 2rem;
    }
}

@media (min-width: 1200px) {
    .absolute {
        background-color: #181818;
    }

    .aboutDiv {
        width: 60%;
        padding-top: 12rem;
        background-color: #181818;
    }

    .emoji {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .about {
        font-size: 1.2rem;
        margin-top: 2rem;
        line-height: 2rem;
    }
} 
*/