@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:ital,wght@0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Manrope:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    font-size: 100%;
}

@media (max-width: 1180px) {
    html {
        font-size: 92%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 84%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 76%;
    }
}

@media (max-width: 850px) {
    html {
        /* font-size: 53%; */
        font-size: 68%;
    }
}

@media (max-width: 768px) {
    html {
        /* font-size: 85%; */
        font-size: 60%;
    }
}

@media (max-width: 600px) {
    html {
        /* font-size: 85%; */
        font-size: 85%;
    }
}

@media (min-width: 1500px) {
    html {
        /* font-size: 80%; */
        font-size: 150%;
    }
}

@media (min-width: 1700px) {
    html {
        font-size: 95%;
    }
}


@media (min-width: 2000px) {
    html {
        font-size: 115%;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 140%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        "Montserrat",
        segoe UI,
        sans-serif;
}

body {
    font-size: 1.1rem;
}

svg {
    fill: currentColor;
}