.wrapper {
    background-color: #EFF4FB;
    width: 100%;
    margin: auto;
    padding: 4rem 1rem;
    height: 100vh;
}

.skillCards {
    width: 80%;
    margin: auto;
    background-color: #EFF4FB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: calc(25% - 0.6rem);
    background-color: #A7EED3;
    margin: 0.3rem;
    padding: 1.8rem 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillIcons {
    width: 8rem;
}

.skillName {
    color: #0f6f55;
    font-size: 1rem;
    margin: 0.6rem 0;
    font-weight: 700;
}

.skillLevel {
    color: #579F87;
    text-align: center;
    font-size: 0.6rem;
}

.skillTitle {
    color: #296657;
    background-color: #EFF4FB;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 4.5rem;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
        padding: 0.1rem;
        background-color: darkblue;
    }

    .skillCards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem 0.5rem;
        justify-content: center;
        background-color: aqua;
    }

    .card {
        width: 8rem;
        background-color: #A7EED3;
        margin: 0.3rem;
        padding: 1rem;
    }

    .skillIcons {
        width: 3rem;
    }
}

/* @media (min-width: 600px){
    .wrapper{
        padding: 3rem 0;
    }
    .skillCards{
        padding: 3rem 0;
        margin: 0;
        width: 100%;
    }
} */