/* * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
} */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bigText {
    font-size: 7rem;
    cursor: pointer;
    color: red;
}
 .whiteText{
    color: #fff;
    font-size: 7rem;
    cursor: pointer;
}