.navbar {
    background-color: black;
    color: #4F4E4D;
    display: flex;
    padding-right: 3rem;
    width: 100%;
    justify-content: right;
    height: 3rem;
}

.menuList {
    display: none;
}

.navLinks {
    padding: 0.2rem 0.8rem;
    font-size: 1.3rem;
}

.menuIcon {
    opacity: 0;
}

@media (max-width: 600px) {
    /* .menuIcon {
        opacity: 1;
    } */

    /* .navLinks {
        opacity: 0;
    } */

    .navbar {
        display: none;
    }

    .menuList {
        display: block;
        background-color: black;
        color: #4F4E4D;
        width: 100%;
    }

    .menuListWrapper {
        display: flex;
        background-color: black;
        color: #4F4E4D;
        padding: 0.9rem 2rem 0.9rem 0.7rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* .chomyDev {
        font-size: 3.5rem;
        color: white;
        background-color: red;
    } */
}