.navbar {
    background-color: black;
    color: #4F4E4D;
    display: flex;
    padding-right: 7rem;
    width: 100%;
    justify-content: right;
}

.navLinks {
    padding: 0.2rem 2rem;
    font-size: 1.7rem;
}
.menuIcon{
    opacity: 0;
}
@media (max-width: 600px) {
.menuIcon{
    opacity: 1;
}
.navLinks{
    opacity: 0;
}
}